@font-face {
  font-family: "GothamMedium";
  src : url("fonts/GothamMedium.otf");
}

@font-face {
  font-family: "MontserratRegular";
  src : url("fonts/MontserratRegular.ttf");
}

@font-face {
  font-family: "MontserratLight";
  src : url("fonts/MontserratLight.ttf");
}

@font-face {
  font-family: "MontserratBold";
  src : url("fonts/MontserratBold.ttf");
}

@font-face {
  font-family: "MontserratExtraLight";
  src : url("fonts/MontserratExtraLight.ttf");
}
